.headerOption {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    cursor: pointer;
    margin-left: 20px;
}
.headerOption:hover {
    color: black;
}
.headerOption__title {
    font-size: 12px;
    font-weight: 400;
}
.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}
